/* Misc. */

body {
    background: orange;
}

a {
    z-index: 9999;
}

.logo {
    background: orange;
}

.navbar ul li a:hover {
    color: orange;
}

#hiddenMenu li a:hover {
    color: orange;
}

.white-background {
    min-height: 90vh;
    padding-top: 20px;
}

.orange {
    color: orange;
}

/* CV */

.cv-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cv-section {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.cv-section-header {
    margin-top: 22px;
    margin-bottom: 2px;
    border-bottom: 2px dashed #ccc;
}

.cv-header-text {
    display: flex;
    justify-content: space-between;
}

.cv-header-text h4 {
    margin: 0;
}

.cv-line {
    color: #999;
}

.cv-item {
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 2px dashed #ccc;
    cursor: pointer;
}

.expanded {
    font-size: 2.5vw;
    width: 100%;
    display: none;
}

.expanded h3 {
    margin: 0;
}

.expanded p {
    margin: 0 0 0 -5px;
}

/* About */

.about-section {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.about-header {
    float: right;
    border-bottom: 2px dashed #ccc;
    width: 83%;
    text-align: right;
    margin-bottom: 6px;
}

.about-header h2 {
    margin-bottom: 2px;
}

.me {
    background-image: url("../images/3.png");
    background-size: 17vw 13vw;
    width: 13vw;
    height: 13vw;
    float: right;
    border-radius: 50%;
    margin-left: 10px;
}

/* Media queries */

@media only screen and (min-width: 583px) {
/* For tablets: */
    .expanded {font-size: 2vw;}
}

@media only screen and (min-width: 800px) {
/* For desktops: */
    .expanded {font-size: 1.3vw;}
}

@media only screen and (min-width: 870px) {
/* For desktops: */
    .cv-section {width: 50%;}
    .about-section {width: 50%;}
    .about-header {width: 71%;}
}
