#wordbox {
    display: flex;
    font-size: 1.6rem;
    text-align: center;
}

#wordbox div {
    margin: 5px;
    width: 3%;
    border-bottom: 2px solid black;
}

#resetButton {
    display: none;
}

#hangman img {
    width: 60%;
    height: 60%;
}
